/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for header */
header {
    background-color: #41daac; /* Green background color */
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin-bottom: 0.5em;
    font-size: 2em;
}

header p {
    margin-bottom: 1em;
    font-size: 1.1em;
}

/* Style for navigation bar */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style for main content */
main {
    padding: 2em;
    text-align: center;
}

main h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
}

#profile-photo {
    border-radius: 10px; /* Rounded corners for the photo */
    margin-top: 1em;
    max-width: 100%; /* Ensures responsiveness */
    height: auto; /* Maintains aspect ratio */
}

/* Style for footer */
footer {
    background-color: #4CAF50; /* Green background color */
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
